.all-in-one{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding-left: 7vw;
}

.all-in-one-container{
    width: 31vw;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    padding-left: 6vw;
    padding-top: 3vw;
}

.all-in-one-titulo{
    font-size: 2.6vw;
    width: 1.6vw;
}

.all-in-one-texto{
    padding-top: 2vw;
    font-size: 1.2vw;
    text-align: left;
}

.all-in-one-atributos{
    display: grid;
    grid-template-columns: repeat(2, 60%);
    column-gap: 1.9vh;
    padding-top: 2.6vw;
}

.all-in-one-atributos h2{
    font-size: 2vw;
    color:#ae9555;
}

.all-in-one-telas{
    font-size: 1.2vw;
    font-weight: 500;
    padding-bottom: 2vh;
}

.all-in-one-imagem-container{
display: flex;
flex-flow: row;
padding: 1vh;
align-items: center;
}

.all-in-one-imagem{
 width: 67%;
 margin-left: 14vw;
}



 