.completo-allinone{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    padding: 13vh;
}

.completo-allinone-visual{
    height: 60vh;
    width: 45%;
}

.completo-allinone-imagem{
    height: 38vw;
}

.completo-allinone-lista{
    align-items: flex-start;
    width: 45%;
    height: 60vh;
}

.completo-allinone-titulo{
    font-size: 1.8vw;
    padding-top: .9vh;
}

.completo-allinone-listagem{
    display: flex;
    flex-flow: column wrap;
    line-height: 2.16vh;
    align-self: flex-end;
}

.completo-allinone-listagem-item{
    font-size: 1vw;
    font-weight: 450;
    color:#757575ff;
    padding-right: 1.4vh;
    text-align: left;
}

.completo-compra{
    background-color: #1241af;
    color: #f5f5f5;
    width: 12vw;
    height: 6vh;
    font-size: 1vw;
    border-style: none;
    border-radius: 1vh;
}

.completo-compra:hover{
    cursor: pointer;
    background: #1414af;
    color: #ddd;
}
