.entradas{
display: flex;
justify-content: center;
padding-top: 1vw;
}

.entradas-container{
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: space-evenly;
padding: 1.8vh;
}

.entradas-titulo{
font-size: 5vh;
letter-spacing: 0.3vh;
align-self: center;
text-align: center;
font-weight: 700;
}

.entradas-texto{
text-align: left;
align-self: center;
width: 30vw;
font-size: 2.2vh;
font-weight: 500;
}

.entradas-imagem{
width: 50%;
height: 50%;
align-self: center;
padding: 1.5vw;
}

.entradas-entradas{
display: flex;
flex-flow: row wrap;
justify-content: center;
gap: 3.7vw;
}

.entradas-portas{
padding-top: 1vw;
font-size: 3.2vh;
font-weight: 900;
color: #ae9555;
text-align: center;
}

.entradas-conexoes{
align-self: center;
font-weight: 500;
font-size: 1.92vh;
color:#12121f;
text-align: center;
}

.entradas-portas h2, .entradas-portas p{
    margin: unset;
    padding: unset;
}