.experiencia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 100vw;
    }
    
    .experiencia-titulo{
        font-size: 2.5rem;
        margin-top: 70px;
}

.experiencia-texto{
    width: 600px;
    font-size: 1.3rem;
    align-self: center;
    text-align: center;
}

.experiencia-all-in-one{
    width: 33%;
}