.footer-strong{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 6vh 8vw 8vw 6vh;
    width: 100vw;
    line-height: 1.29vw;
}

.footer-institucional{
    font-weight: 500;  
}

.footer-politicas{
    font-weight: 500; 
}

.footer-link-titulo{
    font-size: 2.4vh;
    padding: unset;
    margin: unset;
}

.footer-link-lista{
    padding-top: 1vh;
    font-size: 1.8vh;
    list-style-type: none;
}

.footer-link{
    text-decoration: none;
    color: #777777;
}

.footer-link:hover{
    color: #1414af;
}

.footer-sociais{
    padding-left: 5vh;
    padding-top: 1vh;
}

.footer-sociais-titulo{
    font-size: 2.4vh;
    font-weight: 500;
}

.footer-sociais-icones-lista{
    display: flex;
    padding-top: 1vw;
    gap: 0.8vw;
    font-size: 1.8vw;
}


.footer-sociais-icones:hover{
    color: #1414af;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.footer-atendimento{
    padding: 2.1vw;
}

.footer-atendimento-titulo{
    font-weight: 500;
    font-size: 2.4vh;
    margin: unset;
}

.footer-atendimento-links{
    font-size: 1.8vh;
}

.footer-atendimento-links:hover{
    color: #1414af;
    transition: 0.4s ease-in-out;
}

.footer-pagamentos-seguranca{
    padding: 1.8vh;
}

.footer-pagamentos-titulo{
    font-weight: 500;
    font-size: 2.1vh;
}

.footer-pagamentos-imagem{
    width: 14vw;
    height: auto;
}

.footer-seguranca-titulo{
    font-weight: 500;
    font-size: 2.1vh;
}

.footer-seguranca-imagem{
    width: 9vh;
    height: auto;
}