.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1.14vh;
}

.strong-logo{
    width: 12vw;
    height: auto;
    cursor: pointer;
}

.windows-logo{
    width: 14vw;
    height: auto;
}

.windows-10{
    display: flex;
    flex-direction: row;
    font-size: 1.3vw;
    margin: 1vw;
}

.windows-preco{
    padding-top: 1.5vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

.link-strong{
  width: 12vw;
  height: 6vh;
  text-align: center;
  color: #F5f5f5;
  background-color: #1241af;
  border: none;
  border-radius: 1vh;
  font-size: 1.9vh;
}

.link-strong:hover{
    background-color: #1414af;
    color: #ddd;
    cursor: pointer;
}