.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2vh;
    margin: 2vw;
}

.strong-logo{
    width: 12vw;
    height: auto;
    cursor: pointer;
}

.windows-logo{
    width: 14vw;
    height: auto;
}

.windows-10{
    flex-direction: row;
    font-size: 1.3vw;
}

.link-strong{
  width: 10vw;
  height: 4vh;
  text-align: center;
  color: #F5f5f5;
  background-color: #1241af;
  border: none;
  border-radius: 1vh;
  font-size: 1.6vh;
}

.link-strong:hover{
    background-color: #1414af;
    color: #ddd;
    transition: all ease-out 2.2s ;
    cursor: pointer;
}