.patrocinio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-width: 0px 0px 0.2vh 0px;
    border-color: #0000001B;
}

.patrocinio-produto{
    padding: 3vw;
}

.patrocinio-imagem{
    width: 7vw;
    height: auto;
}