.qualidades-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 5vw;
}

.qualidades-titulo{
    font-size: 2.5vw;
    font-weight: 700;
    padding-left: 2vw;
}

.qualidades-imagem{
    width: auto;
    height: 48vh;
    background-color: #e8e8e8;
}

.qualidades-apresentacoes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.qualidades-atributos{
    font-size: 2vh;
    font-weight: 600;
    padding: 0.7vh;
    margin: 0.3vh;
    display: flex;
    align-items: center;
    text-align: left;
}

.qualities{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: #282828ee;
    padding-left: 1.5vw;
    border-style: solid;
    border-width: 0.25vh;
    border-color: #d9d9d9cc;
    width: 20vw;
    min-height: 5vh;
}

.qualities-paragrafo{
    align-self: center;

}

.icones{
    margin: 0.5vh;
    color: #191919;
    font-size: 1.6vw;
}

.apresentacoes{
    display: flex;
    justify-content: center;
    padding-left: 4vh;
    background: #d9d9d9cc;
    border-style: solid;
    border-width: 0.25vh;
    border-color: #d9d9d9cc;
    color: #2a2a2a;
    align-self: center;
    width: 50vw;
    min-height: 5vh;
}

.qualities-paragrafo2{
    font-size: 1.6vh;
    text-align: center;
    margin-top: 1vh;
    padding-bottom: 0.5vh;
}

.apresentacoes1{
    display: flex;
    justify-content: center;
    padding-left: 4vh;
    margin-right: 1.34vw;
    background: #d9d9d9cc;
    border-style: solid;
    border-width: 0.25vh;
    border-color: #d9d9d9cc;
    color: #2a2a2a;
    align-items: center;
    width: 25vw;
    min-height: 5vh;
}

.apresentacoes2{
    display: flex;
    justify-content: center;
    padding-left: 16px;
    background: #d9d9d9cc;
    border-style: solid;
    border-width: 0.25vh;
    border-color: #d9d9d9cc;
    color: #2a2a2a;
    align-items: center;
    width: 23.7vw;
    min-height: 5vh;
}

.qualidades-compra{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
}

.qualidades-botao{
    background-color: #1241af;
    color: whitesmoke;
    border: solid;
    border: #1241af;
    border-radius: 1vh;
    margin: 1.4vw 14vw 1.4vw 0px;
    width: 23.7vw;
    height: 5vh;
    font-size: 1vw;
}

.qualidades-botao:hover{
    background-color: #1414af;
    color: #ddd;
    cursor:pointer;
}

