.vendas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 5vw 10vw;
}

.vendas-visual{
    margin: 4vw;
}

.vendas-allinone{
    width: 30vw;
}

.vendas-titulo{
    margin-right: 10vw;
    font-size: 3vh;
}

.vendas-visualizacoes{
    display: flex;
    background-color: rgb(185, 195, 255);
    width: 34vw;
    height: 3.5vw;
    border-radius:1vw;
    margin-top: 1.2vh;
}

.vendas-visualizacoes p{
    color: #777777;
    margin: 2vh;
    font-size: 1vw
}

.vendas-icones{
    color: #1106ce;
    margin: 2vh;
    font-size: 2.4vh;
}

.vendas-cincoporcento{
    color: #1106ce;
    font-size: 2.5vh;
}

.vendas-pix{
    font-size: 2.7vh;
    font-weight: 500;
    line-height: 3.8vh;
    padding-bottom: 2.62vh;
}

.vendas-preco{
    font-size: 2.82vh;
    font-weight: 400;
    padding: unset;
}

.preco{
    font-size: 2.8vh;
}

.vendas-botao{
    background-color: #1241af;
    color: whitesmoke;
    border: solid;
    border: #1241af;
    border-radius: 1vh;
    margin-top: 2vh;
    width: 17vw;
    height: 5vh;
    font-size: 1vw;
}

.vendas-botao:hover{
    background-color: #1414af;
    color: #ddd;
    cursor:pointer;
}