.wallpaper-windows{
    background-image: url(../assets/WallpaperWindows.png);
    background-repeat: no-repeat;
    background-position:center;
    background-color: transparent;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
    padding-left: 10vw;
}

.windows10{
    width: 100vw;
}

.windows10-logo{
    width: 13vw;
}

.windows10-titulo{
    font-size: 4vh;
    font-weight: 400;
    text-align: left;
    color: #f5f5f5;
}

.windows10-paragrafo1{  
    width: 20vw;
    text-align: left; 
    font-size: 2vh;
    color: #f5f5f5;
}

.windows10-subtitulo{   
    font-size: 4vh;
    font-weight: 400;
    text-align: left;
    color: #f5f5f5;
}

.windows10-paragrafo2{    
    width: 20vw;
    text-align: left;
    font-size: 2vh;
    color: #f5f5f5;
}